.btn-whatsapp{
    position: relative;
}
.btn-whatsapp::before,
.btn-whatsapp::after{
    content:"";

    position: absolute;
    bottom: 9px;
    left: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:#00e676 ;
    opacity: 0;
    animation: waves 1.7s infinite;
}


.btn-whatsapp img{
    position: relative;
    z-index: 2;
}

.btn-whatsapp::before{
    animation-delay: 1s;
}

.btn-whatsapp::after{
    animation-delay: 1.3s;
}

@keyframes waves {
    0%{
        transform: scale(1);
    }    

    15%{
        opacity: 1;
    }

    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}